<h3>スケジュール詳細</h3>

<table>
 <tr>
  <th>タイトル</tr>
  <td><%= @post.title %></td>
 </tr>
 <tr>
  <th>開始日</tr>
  <td><%= @post.starting_date %></td>
 </tr>
 <tr>
 <tr>
 <tr>
</table>

<div>
   <ul>
     <li><%= link_to "スケジュール一覧に戻る", :posts %></li>
   </ul>
 </div>